@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');

/* 공통 */
/* 본문 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  font-size: 10px;
  font-family: 'Noto Sans KR', 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #2e3035;
}
/* Font */
.main-title {
  display: block;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
}
.sub-title {
  display: block;
  width: 100%;
  height: 18px;
  font-size: 1.7rem;
  font-weight: 400;
}
.sub-text {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  margin:30px 0;
}
strong {
  font-size: 40px;
  font-weight: 700;
  color:#fff;
}
b {
  display: block;
  font-size: 1.7rem;
  font-weight: 500;
}
/* Button */
.link {
  color:#055cf5;
  font-size: 1.5rem;
}
.link::after{
  content: "";
  display: inline-block;
  vertical-align:-30%;
  width: 25px;
  height: 25px;
  background: url(../images/brand-next-arrow.png) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
/* Color */
.black {
  color: #2e3035;
}
/* float를 해제하기 위한 clear 선언 */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

/* Header */
.header {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 999;
}
.inner-hf {
  width: 940px;
  margin: 0 auto;
}
.inner {
  width: 830px;
  margin: 0 auto;
  padding: 50px 0;
}
.header .header-logo {
  float: left;
}
.header .header-logo a {
  display: block;
  padding: 0 20px;
}
.header-menu {
  float: left;
}
.header-menu > li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
.header-menu-list {
  float: right;
}
.header-submenu {
  float: right;
  
}
.header-submenu li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
/* visual */
.visual {
  height: 700px;
  background-size: cover;
}
.main-visual {
  background: url(../images/main-01-desktop.jpg) no-repeat;
}
.move-visual {
  background: url(../images/deepclean-desktop.jpg) no-repeat;
}
.reservation {
  padding: 120px 0;
  position: relative;
}
.btn-reservation {
  background-color: #055cf5;
  padding: 14px 0;
  position: absolute;
  bottom:0;
  left:0;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  width: 250px;
  text-align: center;
  border-radius: 3px;
}
.reservation .visual-title {
  font-size: 6rem;
  line-height: 1.3;
}
.reservation .visual-txt {
  color:#fff;
  line-height: 1.5;
  font-size: 1.9rem;
  font-weight: normal;
  margin-top: 20px;
}
/* branding */
.branding {
  background-image: url(../images/main-2@2x.png);
  background-size: 45%;
  background-repeat: no-repeat;
  height:480px;
  background-position: top right;
  position: relative;
  margin: 85px auto 0;
  border-bottom: 1px solid rgb(218, 221, 226)
}
.branding .link{
  position: absolute;
  top: 40%;
}
.branding .branding-title{
  font-weight:bold;
  line-height: 1.5;
  margin-bottom: 18px;
  font-size: 31.2px;
  font-stretch: normal;
  font-style: normal;
  color: rgb(46, 48, 53);
  letter-spacing: -0.018px;
}
/* main */
.main-service{ 
  margin-top: 64px;
  margin-bottom: 55px;
  padding-bottom: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(218, 221, 226)
}
.main-helper h3, .main-move h3{
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: #2e3035;
  padding: 25px 0 0 20px;
  margin-bottom: 5px;
}
.main-helper p, .main-move p{
  padding-left: 20px;
  font-size: 18px;
  color: #2e3035;
}
.main-helper, .main-move{
  width:400px;
  height:300px;
  margin: 64px 0 24px;
}
.main-helper a{
  display:block;
  background: url(../images/main-3-1-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main-move a{
  display:block;
  background: url(../images/main-3-2-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.main-cleaning h3, .main-living h3, .main-pet h3{
  font-size: 20px;
  font-weight: bold;
  color: #2e3035;
  padding: 16px 0 0 16px;
}
.main-cleaning, .main-living, .main-pet{
  width: 31.3%;
  height: 160px;
  margin: 30px 0;
}
.main-cleaning a{
  display:block;
  background: url(../images/main-3-3-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main-living a{
  display:block;
  background: url(../images/main-3-4-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main-pet a{
  display:block;
  background: url(../images/main-3-5-desktop@2x.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}
.main h3 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 15px;
}
.main-serviceMore {
  width: 100%;
  position: relative;
  background-color: #eff7ff;
  padding: 20px 30px 25px 35px;
}
.main-serviceMore h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.main-serviceMore h3::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./../images/home.svg);
  transform: translateY(15%);
  margin-right: 15px;
}
.main-serviceMore p {
  font-size: 1.5rem;
  margin-left: 40px;
}
.main-serviceMore .link {
  position: absolute;
  top: 25px;
  right: 30px;
}
/* 브랜드 철학 */
.belief .txt {
  font-size: 2rem;
  font-weight: 400;
}
.belief img {
  /* display:inline-block; */
  width: 410px;
  height: 300px;
  float: left;
  margin-right: 48px;
}
[class^="belief-"] {
  width: 100%;
  height: 320px;
  margin-top: 60px;
}
.belief-text{
  margin-top: 10px;
  line-height: 1.5;
}
.belief .title {
  font-size: 2rem;
  font-weight: bold;
}
.belief .app-store a:nth-child(1) {
  display: inline-block;
  width: 120px;
  height: 60px;
  background: url(../images/appstore.png) no-repeat;
  background-size: 100%;
  margin: 20px 20px 0 0;
}
.belief .app-store a:nth-child(2) {
  display: inline-block;
  width: 120px;
  height: 60px;
  background: url(../images/googleplay.png) no-repeat;
  background-size: 100%;
}
.belief .link {
  margin-top: 100px;
  display: block;
}
.review {
  padding: 70px 0;
  background-color: #00395b;
}
.review em {
  width: 100%;
  margin-bottom: 60px;
  display: block;
  color: #fff;
}
.review-wrap{
  width: 1000px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.review-box {
  position: relative;
  width: 31%;
  height: 220px;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.1);
  margin: 0 10px;
  padding: 20px;
}
.review-star {
  color: #ffc81f;
  font-size: 1.6rem;
}
.review-box .title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 10px;
}
.review-text {
  font-size: 1.5rem;
  font-weight: 300;
  height: 86px;
  overflow: hidden;
}
.review-box .link {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* 인재채용 */
.together {
  position: relative;
  padding: 70px 50px 100px;
  background-color: #eef7ff;
  margin: 90px auto;
  background-image: url(../images/hiring@2x.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.together h2 {
  font-size: 2rem;
}
.together .link {
  position: absolute;
  bottom: 30px;
  left: 50px;
}
/* footer */
.footer-bg {
  background: #262728;
  padding: 25px 0 50px;
}
.footer-bg .inner-hf{
  width: 1000px;
  margin: 0 auto;
}
.footer .footer-blog {
  display:inline-block;
}
.footer-blog li {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
}
.footer-blog a{
  font-size: 1.6rem;  
}
.footer a {
  display:inline-block;
}
.copyright {
  display: block;
  color: #a3a7ae;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 20px;
  padding-bottom: 5px;
}
.address {
  display: block;
  color: #a3a7ae;
  font-size: 1.3rem;
  font-weight: 400;
  font-style: normal;
}
/* 이사청소 */
.float-left {
  float:left;
}
.float-right {
  float:right;
}
.main-service,
.main-info,
.main-range,
.main-app,
.main-QA,
.homeservice {
  position: relative;
  width:800px;
  margin:0 auto;     
}
/* table */
.table{
  width:100%;
  border:1px solid #e3e5ea;
  text-align: center;
  font-size: 1rem;
}
.table th{
  font-weight: 700;
}
.table tr, .table td{
  border:1px solid #e3e5ea;    
}
.table th, .table td{
  padding: 15px;
  width:50%;
  font-size: 1.6rem;
}
.table th:last-child, td:last-child{
  background-color: #f3f4f8;
}
.main--bg {
  background-image: url("https://miso.kr/deep-clean-page/deepclean-desktop.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  height: 540px;
  margin-bottom: 30px;
}
/* visual */
.main-visual-inner {
  width:800px;
  height: 300px;
  margin:0 auto;
  position: relative;
}
.main-visual-inner h2 {
  display:block;
  margin: 100px 0 20px;      
}
.main-visual-inner :nth-child(2) {
  display: block;
  font-size: 50px;;
  font-weight: 900;
  margin: 0 0 16px;
}
.main-visual-inner :nth-child(3) {
  font-size: 20px;
}
.main-visual-inner button {
  margin-top:70px;
  padding: 15px 80px 18px;
}
/* service */
.main-service {
  padding-bottom: 60px;
}
.main-service-container {
  display:block;
}
.main-service .main-title{
  margin-bottom: 30px;
}
.main-service-container img{    
  width:400px;
  height:300px;      
  float: left;    
}
.main-service-text {
  float: right;
  width: 380px;
}
.main-service span {    
  font-size: 3rem;
  font-weight: 600;
  margin:5px 0 10px;
}
/* info */
.main-info-ul{
  width:800px;
  border-bottom: 1px solid #f3f4f8;
  margin-bottom: 15px;
  font-weight: bold;
}
.main-info-ul li{    
  display: inline-block;
  padding: 6px 10px;
  font-size: 1.5rem;
  font-weight: 400;
  color: #a3a7ae;
}
.main-info-range img{
  width:400px;
  height:300px;
  background-size: cover;
  margin-right: 20px;
}
.main-info-detail {
  display: inline-block;
  vertical-align: top;
}
.main-info-detail li {
  font-size: 1.5rem;
}
.main-info-fare>a{
  display: inline-block;
  padding:10px 0;
  margin: 5px 0;
}
.main-info-box{
  padding:30px;
  position: relative;
  background: #eff7ff;
  font-size: 1.5rem;
}
.main-info-box p:first-child{
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.main-info-box a{
  position: absolute;
  top:30px;
  right:30px;
}
.main-info-ul .info-on{
  color: #005cf5;
  border-bottom: 3px solid #055cf5;
}
/* Ramge */
.main-range .flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.main-range span {
  display:block;
  font-weight: 500;
  font-size: 18px;
  margin:14px 0;
}
.main-range p {
  width:220px;
}
/* App */
.main-app {
  margin-top: 50px;
}
.main-app h3 {
  display: inline-block;
}
.main-app-box-img img {
  width:409px;
  height: 300px;
}
.main-app-box-appimg img{    
  margin-top: 20px;
  height: 40px;
}
/* QA */
.main .main-QA {
  border: none;
}
.main-QA-list {
  margin-top: 30px;
}
.main-QA-list li{
  padding: 15px 0 15px 10px;
  border-top:1px solid #e3e5ea;
  font-size: 1.5rem;  
}
.main-QA-list :nth-child(3) {
  border-bottom: 1px solid #e3e5ea;
}
.main__QA a {        
  margin-top:5px;
  float: right;
}
/* Homeservice */
.homeservice{
  padding:88px 0 112px;      
  position: relative;    
}
.homeservice h3 {
  margin:0 0 10px;
  padding:0;
}
.homeservice p {
  margin:0 0 15px;
}
.homeservice a {
  display: inline-block;        
}
.homeservice img {
  width:110px;
  margin-right: 10px;
}
.homeservice-items {    
  width:100%;
  background-color: #f3f4f8; 
  box-sizing: border-box;
  padding:64px 84px;
  position: relative;
}
.homeservice-items--box {
  position: relative;     
  height: 200px;   
}
/* 예약하기 */
.header-reservation {
  position: relative;
  top: 0;
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.header-reservation .logo {
  position: absolute;
  top: 20px;
  left: 60px;
}
/* 컨텐츠 영역 */
/* 예약하기 */
.content-reservation {
  text-align: center;
  padding: 130px 0;
}
.content-reservation h3 {
  color: #333;
  font-size: 4rem;
  font-weight: 300;
}
.content-reservation p {
  font-size: 2.2rem;
  font-weight: 100;
}
.content-reservation .group {
  padding-bottom: 40px;
  width: 460px;
  margin: 0 auto;
}
.content-reservation .group1 {
  border-bottom: 1px solid #e7e7e7;
}
.content-reservation .group2 {
  border-bottom: 1px solid #e7e7e7;
}
.content-reservation button {
  width: 460px;
  background: #055cf5;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 5px;
  font-weight: 400;
  padding: 12px 0;
  margin: 20px 0;
}
.content-reservation .date {
  border: 2px solid #055cf5;
  background: #fff;
  color: #055cf5;
}
.group .check {
  position: relative;
  color: #333;
  font-size: 1.5rem;
}
.group .check::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;
  width: 17px;
  height: 7px;
  border: 2px solid #055cf5;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
}
.notice-item {
  font-size: .85rem;
}
.notice-item .notice {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 20px 0 10px;
}
.notice-item a {
  color: #055cf5;
  font-weight: 500;
  padding: 10px 0;
  font-size: 1.5rem;
}
.group .next {
  border-radius: 30px;
  width: 150px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
  font-size: 1.8rem;
  font-weight: 400;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label  {
  display: inline-block;
  width: 32%;
  color: #b3b3b3;
  text-align: center;
  font-size: 1.8rem;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  padding: 1.3rem 0;
  border-radius: 5px;
  font-weight: 400;
  background-position: center;
  margin: 20px 0;
}
.clock input[type="radio"] + label  {
  width: 49%;
}
input[type="radio"]:checked + label{
  background-color: #fff;
  color: #055cf5;
  border: 2px solid #055cf5;
}
input[type="radio"]:disabled {
  color: #b3b3b3;
  border-color: #b3b3b3;
  cursor:default;
}
/* 인증번호 */
.input-group {
  position: relative;
  top: 0;
  left: 0;
}
.input-group input {
  float: left;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #f2f2f2;
  color: inherit;
  width: 80%;
  font-size: 1.7rem;
  padding-left: 15px;
  outline: 0;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  border: 0;
  line-height: 4.4rem;
}
.content-reservation .input-group .btn-phone {
  float: right;
  position: absolute;
  top: 30px;
  right: 0;
  width: 120px;
  font-size: 1rem;
  border-radius: 0 5px 5px 0;
  margin: 0;
  z-index: 10;
  font-size: 1.5rem;
}
/* 푸터 영역 */
.footer-bg-reservation {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #e7e7e7;
}
.footer-reservation {
  padding: 30px 0;
  font-size: .7rem;
  position: absolute;
  top: 0px;
  left: 60px;
}
.footer-reservation .copyright {
  color: #333;
  line-height: 2rem;
}
.footer-reservation .address {
  color: #b3b3b3;
  display: inline;
}
.footer-reservation ul {
  display: inline-block;
}
.footer-reservation ul li {
  float: left;
  position: relative;
  top: 2px;
  margin: 0 3px;
  color: red !important;
}
.footer-reservation ul li a {
  color: #777;

}
/* 더 많은 서비스 */
.header-more {
  box-sizing: border-box;
  position: fixed; 
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 130px;
  padding: 30px 30px 30px 50px;
  z-index: 10;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03);
}
.logo-more {
  float: left;
  margin: 0;
  line-height: 0;
  width: 90px;
  height: 70px;
}
.logo-more img{
  width: 100%;
  height: auto;
}
.home-menu{
  display: block;
  float: right;
  padding: 10px 20px;
  line-height: 50px;
  color: #055cf5;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
}
.main-more{
  margin: 130px 0 0 0;
}
.morepage-visual{
  height: 610px;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../images/more/visual.jpg);
  background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(../images/more/visual.jpg);
  background-color: #aaa;  
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat; 
  overflow: hidden;
}
.morepage-visual-title{
  display: block;
  margin: 180px auto 90px auto;
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-weight: 400;
  line-height: 80px;
}
.morepage-list{
  width: 940px;
  margin: 0 auto;
}
.morepage-list-menu{
  margin: 0;
  padding: 35px 0 0 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.morepage-list-menu li{
  list-style: none;
  padding: 9px 30px 11px 30px;
  margin: 0;
  color: rgba(50, 52, 58, 0.5);
  font-weight: bold;
  color: #222222;
  font-size: 16px;
  line-height: 28px;
}
.morepage-list-menu li:hover{
  color:rgba(50, 52, 58, 0.5);
  border-bottom: 1px solid #222222;
  padding: 9px 30px 10px 30px;
}
/* 더 많은 서비스 컨텐츠 리스트 */
.morepage-list-items{
  padding: 0;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.morepage-list-items li{
  list-style: none;
}
.morepage-list-items li:last-child{
  margin-right: auto;
  margin-left: 20px;
}
.morepage-list-items img{
  display: block;
  width: 300px;
  height: 200px;
}
.morepage-list-items p{
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #1a1b1f;
  line-height: 34px;
  font-weight: 400;
  padding: 16px 0 24px 0;
  margin: 0;
}
.morepage-list-items li:hover{
  opacity: 70%;
}
/* 더 많은 서비스 푸터 */
.footer-more{
  margin: 0;
  padding: 40px 50px;
  display: flex;
  justify-content: space-between;
}
.morepage-footer-adress{
  display: inline-block;
  opacity: 0.5;
  letter-spacing: -0.13px;
  color: #1a1b1f;
  line-height: 20px;
  font-size: 12.5px;
  font-style: normal;
  max-width: 450px;
}
.footer-more span{
  font-style: normal; 
}
.footer-more address span:nth-child(n+2)::before{
  content: "";
  background-color: rgba(26, 27, 31, 0.5);
  width: 1.3px;
  height: 12px;
  display: inline-block;
  vertical-align: -4%;
}
.morepage-footer-adress:hover{
  opacity: 100%;
}
.morepage-footer-adress address{
  display: inline;
}
.morepage-footer-link{
  padding: 30px 0;
  display: flex;
}
.morepage-footer-link a{
  padding: 0 20px;
  list-style: none;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  opacity: 0.6;
}
.morepage-footer-link a:hover{
  opacity: 100%;
}
/* 견적내기-폼 영역 */
.main-build {
  margin-top: 100px;
}
.quote {
  text-align: left;
  margin: 0px 30px;
  padding: 30px 0;
}
.quote .title {
  position: relative;
  top: 0;
  left: 0;
}
.quote .title h3 {
  font-weight: 400;
}
.quote .title .img {
  position: absolute;
  top: 0px;
  right: 0;
}
.quote .review-item {
  color: #fece32;
  margin-top: 10px;
}
.quote .sub-text {
  color: #333;
  line-height: 24px;
  font-weight: 400;
  padding: 30px 0 80px;
}
.editor-detail {
  position: relative;
  top: 0;
  left: 0;
}
.editor-detail .item label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.editor-detail .item input, .editor-detail .item textarea {
  display: block;
  width: 100%;
  padding: 8px 0 8px 12px;
  font-size: 14px;
  color: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.editor-detail .item textarea {
  height: auto;
}
.btn-estimate {
  font-size: inherit;
  padding: 9px 15px;
  border-radius: 0;
  background-color: #3898EC;
  color: #fff;
  font-size: 14px;
}